// app global css in SCSS form

/* .btnRandom {
  border-radius: 50%;
  position: fixed;
  bottom: 100px;
  right: 30px;
  height: 70px;
  width: 70px;
} */
.mySelectEvaluation {
  width: 0px;
  height: 50px;
  border-left: 25px solid #555e68;
  border-right: 25px solid #555e68;
  border-bottom: 25px solid transparent;
}
.like {
  position: relative;
  width: 80px;
  height: 70px;
}
.like:before,
.like:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.like:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
.love {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: red;
}
.love:before,
.love:after {
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: red;
}
.love {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: red;
  position: relative;
  top: 10rem;
  left: 10rem;
}

.love:before,
.love:after {
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: red;
  position: absolute;
}

.love:before {
  top: 0;
  left: -25px;
}

.love:after {
  top: -25px;
}

.love {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: red;
  position: relative;
  top: 10rem;
  left: 10rem;
  animation: beating 2s ease infinite;
}

@keyframes beating {
  0% {
    transform: rotate(45deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(2);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}
.comic-size {
  width: 200px;
  height: 200px;
}

.btnNav {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 190px;
}

.loading {
  width: 100px;
  height: 100px;
}
