// app global css in SCSS form

.btnRandom {
  border-radius: 50%;
  position: fixed;
  bottom: 100px;
  right: 30px;
  height: 70px;
  width: 70px;
}

.btnNav {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 190px;
}
.img {
  width: 200px;
  height: 200px;
}
